[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson.git
[submodule "giflib"]
	path = giflib
	url = https://git.code.sf.net/p/giflib/code
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "libxmp"]
	path = libxmp
	url = https://github.com/cmatsuoka/libxmp.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
