[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson.git
[submodule "giflib"]
	path = giflib
	url = https://git.code.sf.net/p/giflib/code
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
